
/* Set flex display */
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

/* Set background color */
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

/* Style the navigation buttons and dots */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#prev-btn {
  background-color: #FF6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  margin-right: auto;
}

#next-btn {
  background-color: #FF6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  margin-left: auto;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.current {
  background-color: #FF6347;
}

/* Agent Info Container */
.agent-info-container {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-repeat: repeat;
  background-size: contain;
}

.agent-info-container h2 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.agent-info-container img {
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
}

.agent-info-container p {
  text-align: center;
  margin: 5vw 15vw;
  font-size: 1.5rem;
  color: #ff2600;
  font-weight: bolder ;
}

/* Extra Info */


.extra-info {
  width: 50%;
  height: 100%;
  background: #FF6347;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 1;
}



.extra-info p {
  font-size: 1.5rem;
  margin: 20px 0;
  text-align: center;
}

#textblock{
  background-color: #FF6347;
  color: white;
  font-weight: bolder;
  padding: 30px;
}

.extra-info img {
  max-width: 100%;
  width: 100px;
  margin-top: 20px;
}

/* Ability Container */
.ability-container {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20vh;
  padding-left: 20px;
  box-sizing: border-box;
  background-repeat: repeat;
  background-size: contain;
  margin-bottom: 300px;
}

/* Ability Card Style */
.ability-card {
  background-color: #FF6347;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.ability-card img {
  max-width: 100%;
  height: auto;
  max-height: 80px;
  margin-bottom: 10px;
}

.ability-card p {
  font-size: 1.5rem;
  margin: 0;
}

/* Portrait */
.portrait {
  height: 100%;
  width: 50%;
  float: right;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait img {
  max-width: 100%;
  max-height: 100%;
}

.clearfix {
  clear: both;
}

@media only screen and (max-width: 767px) {
  html {
  display: block;
  }
  header {
  flex-direction: column;
  text-align: center;
  }
  nav {
  display: none;
  }
  .agent-info-container {
  width: 100%;
  float: none;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
  }
  .extra-info {
  width: 100%;
  float: none;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
  }
  .ability-container {
  width: 100%;
  float: none;
  height: auto;
  padding: 50px 20px;
  box-sizing: border-box;
  margin-bottom: 0;
  }
  .portrait {
  display: none;
  }
  }