
body {
    background-color: #FF6347;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 36px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("../images/maps/background4.avif");
    background-size: 40%;
    background-repeat: repeat;
    margin: 50px;
    background-color: #FF6347;
}
  
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .map-container img {
    display: block;
    margin: auto;
    max-width: 75vw;
    height: auto;
    margin-bottom: 10px;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #FF6347;
  }
  
  .details-container p {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .details-container img {
    max-width: 100%;
    height: auto;
  }
  
  .button-container {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  button {
    background-color: #FF6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 20px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

   /* Footer styles for mobile */
   footer {
    padding: 10px;
  }

  footer p {
    font-size: 16px;
  }
  