.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  
  .weapons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10%;
    width: 80%;
    overflow: auto;
  }
  
  button {
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
  }
  
  button:hover {
    background-color: #ffa292;
    box-shadow: 0px 0px 10px grey;
  }
  
  button:focus {
    background-color: #FF6347;
    outline: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .details {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(255, 0, 0, 0.4);
    border-radius: 8px;
    position: fixed;
    top: 30%;
    left: 60%;
  }
  
  .card-header {
    padding: 24px;
    background-color: #FF6347;
    color: #fff;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .card-header p {
    margin: 8px 0 0;
    font-size: 16px;
  }
  
  .card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .card-details {
    padding: 24px;
    flex-grow: 1;
  }
  
  .card-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .card-details li {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }
  
  .card-details span {
    font-weight: bold;
  }
  
@media only screen and (max-width: 768px) {
.container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-bottom: 20px;
}

.weapons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10%;
    width: 80%;
    overflow: auto;
  }
  
}